:root {
  --background-main: #F4EDE6;
  --white20: #F3F3F6;
  --white10: #2A2D2E;
  --blue: #83CDD1;
  --yellow:#D6A90B;
}

body {
  margin: 0;
  background-color: var(--background-main);
  font-family: 'Noto Sans', sans-serif;
  color: var(--white10);
  font-size: 62.5%;
}

.header {
  display: flex;
}

.wrapper {
  max-inline-size: 900px;
  margin: 0;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 4.8em;
}
p {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 49px;
}

.section-content {
  background: var(--blue);
  padding: 0 7% ;
}
.section-content ~ .section-content{
  background: var(--yellow);
}

h2 {
  font-size: 3.6em;
  font-weight: 300;
  text-align: center;
  padding-top: 40px;
  margin-top: 70px;
}
h2 ~ p {
  color: var(--white20);
}